* {
    margin: : 0;
    padding: 0;
    box-sizing: border-box; 
}

html { 
    background-color: #fff;
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; 
    font-size: 20px;
    text-rendering: optimizeLegibility; 
}


h1 { 
    text-align: center;
    font-size: 300%;
    color:white;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px; 
    word-spacing: 4px; 
}

h2 {
    
    text-align: center;
}

h3 {
    text-align: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Container {
    margin-left: 22%;
    margin-right: 22%;
    background-color: #fff;
}

.bar {
    background-color: black;
}

p { 
font-style: italic
}


.row {
    max-width: 1140px;
    margin: 0 auto;
    }

header { 
    background-image:linear-gradient(rgba(0, 0, 0, 0.02), rgb(0, 0, 0)), url(img/contracts.jpg);
    background-size: cover;
    background-position:center; 
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    top: 17%;
    left:17%;
    transform: translate(-17%, -17%);
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    
}
